{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les types de ski</title>
{% endblock %}

{% block body %}
    <br><h1>Tableau des types de ski</h1>
    <a class="btn btn-outline-success" href="/admin/type-article/add">ajouter un type de ski</a><br><br>
    {% if types_articles | length >=1 %}
    <table class="table table-dark table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Libelle</th>
                <th>Opérations</th>
            </tr>
        </thead>
        <tbody>
            {% for elt in types_articles %}
            <tr>
                <td>{{ elt.id_type_ski }}</td>
                <td>{{ elt.libelle_type_ski }}</td>
                <td>
                    <a class="edit" href="/admin/type-article/edit/{{ elt.id_type_ski }}">Editer</a>
                    <a class="delete" href="/admin/type-article/delete?id={{ elt.id_type_ski }}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1>Pas de type de ski</h1>
    {% endif %}
{% endblock %}
